table {
  width: 90vw;
  height: 90vh;
  margin: 10vh auto;
}
td {
  text-align: center;
  width: 3rem;
  height: 2rem;
  border-radius: 10%;
  border: 2px gray solid;
}
td:empty {
  border: none;
}
td:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
tr:nth-child(4) :nth-child(3) {
  background-color: green;
}
tr:nth-child(4) :nth-child(4) {
  background-color: green;
}
tr:nth-child(4) :nth-child(5) {
  background-color: green;
}
tr:nth-child(4) :nth-child(6) {
  background-color: green;
}
tr:nth-child(4) :nth-child(7) {
  background-color: green;
}
tr:nth-child(4) :nth-child(8) {
  background-color: green;
}
tr:nth-child(4) :nth-child(9) {
  background-color: green;
}
tr:nth-child(4) :nth-child(10) {
  background-color: green;
}
tr:nth-child(4) :nth-child(11) {
  background-color: green;
}
tr:nth-child(4) :nth-child(12) {
  background-color: green;
}
tr:nth-child(5) :nth-child(3) {
  background-color: green;
}
tr:nth-child(5) :nth-child(4) {
  background-color: green;
}
tr:nth-child(5) :nth-child(5) {
  background-color: green;
}
tr:nth-child(5) :nth-child(6) {
  background-color: green;
}
tr:nth-child(5) :nth-child(7) {
  background-color: green;
}
tr:nth-child(5) :nth-child(8) {
  background-color: green;
}
tr:nth-child(5) :nth-child(9) {
  background-color: green;
}
tr:nth-child(5) :nth-child(10) {
  background-color: green;
}
tr:nth-child(5) :nth-child(11) {
  background-color: green;
}
tr:nth-child(5) :nth-child(12) {
  background-color: green;
}
tr:nth-child(6) :nth-child(n + 4):nth-child(-n + 12) {
  background-color: green;
}
tr:nth-child(7) :nth-child(n + 4):nth-child(-n + 12) {
  background-color: green;
}
tr:nth-child(8) :nth-child(n + 2):nth-child(-n + 15) {
  background-color: deepskyblue;
}
tr:nth-child(9) :nth-child(n + 2):nth-child(-n + 15) {
  background-color: teal;
}
tr:nth-child(2) :nth-child(n + 1):nth-child(-n + 1) {
  background-color: rebeccapurple;
}
tr:nth-child(3) :nth-child(n + 1):nth-child(-n + 1) {
  background-color: rebeccapurple;
}
tr:nth-child(4) :nth-child(n + 1):nth-child(-n + 1) {
  background-color: rebeccapurple;
}
tr:nth-child(5) :nth-child(n + 1):nth-child(-n + 1) {
  background-color: rebeccapurple;
}
tr:nth-child(6) :nth-child(n + 1):nth-child(-n + 1) {
  background-color: rebeccapurple;
}
tr:nth-child(7) :nth-child(n + 1):nth-child(-n + 1) {
  background-color: rebeccapurple;
}
tr:nth-child(2) :nth-child(n + 2):nth-child(-n + 2) {
  background-color: tan;
}
tr:nth-child(3) :nth-child(n + 2):nth-child(-n + 2) {
  background-color: tan;
}
tr:nth-child(3) :nth-child(n + 2):nth-child(-n + 2) {
  background-color: tan;
}
tr:nth-child(4) :nth-child(n + 2):nth-child(-n + 2) {
  background-color: tan;
}
tr:nth-child(5) :nth-child(n + 2):nth-child(-n + 2) {
  background-color: tan;
}
tr:nth-child(6) :nth-child(n + 2):nth-child(-n + 2) {
  background-color: tan;
}
tr:nth-child(7) :nth-child(n + 2):nth-child(-n + 2) {
  background-color: tan;
}
tr:nth-child(6) :nth-child(n + 3):nth-child(-n + 3) {
  background-color: deepskyblue;
}
tr:nth-child(7) :nth-child(n + 3):nth-child(-n + 3) {
  background-color: teal;
}
tr:nth-child(1) :nth-child(n + 1):nth-child(-n + 1) {
  background-color: yellow;
}
tr:nth-child(1) :nth-child(n + 18):nth-child(-n + 18) {
  background-color: violet;
}
tr:nth-child(2) :nth-child(n + 13):nth-child(-n + 13) {
  background-color: salmon;
}
tr:nth-child(2) :nth-child(n + 14):nth-child(-n + 16) {
  background-color: yellow;
}
tr:nth-child(2) :nth-child(n + 17):nth-child(-n + 17) {
  background-color: darkgoldenrod;
}
tr:nth-child(2) :nth-child(n + 18):nth-child(-n + 18) {
  background-color: violet;
}
tr:nth-child(3) :nth-child(n + 13):nth-child(-n + 13) {
  background-color: pink;
}
tr:nth-child(3) :nth-child(n + 14):nth-child(-n + 14) {
  background-color: salmon;
}
tr:nth-child(3) :nth-child(n + 15):nth-child(-n + 16) {
  background-color: yellow;
}
tr:nth-child(3) :nth-child(n + 17):nth-child(-n + 17) {
  background-color: darkgoldenrod;
}
tr:nth-child(3) :nth-child(n + 18):nth-child(-n + 18) {
  background-color: violet;
}
tr:nth-child(4) :nth-child(n + 13):nth-child(-n + 13) {
  background-color: pink;
}
tr:nth-child(4) :nth-child(n + 14):nth-child(-n + 15) {
  background-color: salmon;
}
tr:nth-child(4) :nth-child(n + 16):nth-child(-n + 16) {
  background-color: yellow;
}
tr:nth-child(4) :nth-child(n + 17):nth-child(-n + 17) {
  background-color: darkgoldenrod;
}
tr:nth-child(4) :nth-child(n + 18):nth-child(-n + 18) {
  background-color: violet;
}
tr:nth-child(5) :nth-child(n + 13):nth-child(-n + 14) {
  background-color: pink;
}
tr:nth-child(5) :nth-child(n + 15):nth-child(-n + 16) {
  background-color: salmon;
}
tr:nth-child(5) :nth-child(n + 17):nth-child(-n + 17) {
  background-color: darkgoldenrod;
}
tr:nth-child(5) :nth-child(n + 18):nth-child(-n + 18) {
  background-color: violet;
}
tr:nth-child(6) :nth-child(n + 13):nth-child(-n + 15) {
  background-color: pink;
}
tr:nth-child(6) :nth-child(n + 16):nth-child(-n + 16) {
  background-color: salmon;
}
tr:nth-child(6) :nth-child(n + 17):nth-child(-n + 17) {
  background-color: darkgoldenrod;
}
tr:nth-child(6) :nth-child(n + 18):nth-child(-n + 18) {
  background-color: violet;
}
tr:nth-child(7) :nth-child(n + 13):nth-child(-n + 14) {
  background-color: pink;
}
tr:nth-child(7) :nth-child(n + 15):nth-child(-n + 15) {
  background-color: darkgoldenrod;
}
tr:nth-child(7) :nth-child(n + 16):nth-child(-n + 16) {
  background-color: violet;
}
tr:nth-child(7) :nth-child(n + 17):nth-child(-n + 17) {
  background-color: rebeccapurple;
}
